/* utils */
@use "partials/utils/resets.module.scss";
@use "partials/utils/variables.module.scss";
@use "partials/utils/fonts.module.scss";
@use "partials/components/splide.module.scss";
@use "partials/utils/mixins/media.module.scss";
@use "partials/utils/utils.module.scss";

/* components */
@use "partials/components/header.module.scss";
@use "partials/components/footer.module.scss";
@use "partials/components/layout.module.scss";
@use "partials//components/button.module.scss";

/* pages */
@use "partials/pages/home.module.scss";
@use "partials/pages/locations.module.scss";
@use "partials/pages/contact.module.scss";
@use "partials/pages/admin.module.scss";
@use "partials/pages/login.module.scss";
@use "partials/pages/admin-layout.module.scss";

* {
  font-family: Raleway;
  color: #222222;
}

h1,
h2 {
  font-weight: 500;
  font-size: 2.25rem;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

p,
ul,
label,
input,
textarea,
select {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.5rem;
}

p {
  text-align: justify;
}

@include media.media("tabletLarge") {
  a {
    cursor: pointer;
  }
}
