@use "../utils/mixins/media.module.scss";

.layout {
  &__inner {
    padding: 0 1.5rem;
    @include media.media("tabletLarge") {
      padding: 0 3rem;
    }
  }

  &__outer {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__placeholder {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 2rem 2rem;

    div {
      display: grid;
      justify-content: center;
      h1 {
        margin-bottom: 4rem;
        text-align: center;
      }
      img {
        height: auto;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }
}
