@import "../utils/variables.module.scss";
@import "../utils/mixins/media.module.scss";

.admin-testimonials-section {
  h3 {
    margin-bottom: 3rem;
  }

  ol {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    list-style-type: decimal;
    margin-left: 1rem;

    li {
      .list-with-arrows {
        display: flex;
        .reorder-buttons {
          display: flex;
          gap: 2rem;

          button {
            font-size: 2rem;
            padding: 0.5rem;
            margin: -0.5rem;
          }
        }
      }
    }
  }
}
