@import "../utils/variables.module.scss";
@import "../utils/mixins/media.module.scss";

.button {
  padding: 0.5rem 3rem;
  font-size: $subheading;
  border: solid $green 2px;
  border-radius: 16px;
  box-shadow: 0 2px 2px rgb(0 0 0 / 16%);
  text-align: center;

  @include media("desktopSmall") {
    &:hover {
      cursor: pointer;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
  }

  &--normal {
    background: $blue;
    color: $white;
    margin: 2rem 0;

    @include media("desktopSmall") {
      &:hover {
        background: rgb(19 66 102 / 75%);
      }
    }
  }

  &--arrow {
    margin-top: 2rem;
    background: $white;
    color: $black;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;

    &:disabled {
      background: rgba(255, 255, 255, 0.85);
      cursor: not-allowed;
    }

    @include media("desktopSmall") {
      &:hover {
        background: $green;
        color: $white;
        border: solid $white 2px;
      }
    }
  }
}
