@import "../utils/variables.module.scss";
@import "../utils/mixins/media.module.scss";

.button {
  padding: 0.5rem 3rem;
  font-size: $subheading;
  border: solid $green 2px;
  border-radius: 30px;
  box-shadow: 0 2px 2px rgb(0 0 0 / 0.06);
  text-align: center;
}

@include media("desktopSmall") {
  .button:hover {
    cursor: pointer;
  }
}

.button-normal {
  background: $blue;
  color: $white;
  margin: 2rem 0;

  @include media("desktopSmall") {
    &:hover {
      background: rgb(19, 66, 102, 0.9);
    }
  }
}

.button-arrow {
  margin-top: 2rem;
  background: $white;
  color: $black;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include media("desktopSmall") {
    &:hover {
      background: $green;
      color: $white;
      border: solid $white 2px;
    }
  }
}
