@import "../utils/variables.module.scss";
@import "../utils/mixins/media.module.scss";

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem 3rem 1rem 3rem;
  max-width: 1300px;
  margin: 4rem auto 0 auto;
  border-top: solid 1px $black;

  @include media("desktopSmall") {
    margin-top: 3rem;
  }

  @include media("desktop") {
    padding: 3rem 0 1rem 0;
  }

  &__copyright {
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    a {
      color: $link;
    }

    @include media("desktopSmall") {
      font-size: 15px;
      flex-direction: row;
      justify-content: center;
      gap: 0.5rem;
      margin-top: 1rem;
      border-top: solid $black 1px;
      width: 400px;
      padding-top: 1rem;
    }
  }
}
.footer__flex {
  @include media("desktopSmall") {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer-nav {
    display: none;

    @include media("desktopSmall") {
      display: block;
    }

    &__list {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
    &__list-item {
      a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: $green;
        text-decoration-thickness: 2px;
      }
    }
  }

  .footer__flex--logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    @include media("desktopSmall") {
      align-items: end;
    }

    img {
      height: auto;
    }
  }

  .footer__flex--developed-by {
    font-size: 16px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: $link;
    }
    @include media("desktopSmall") {
      align-items: end;
      text-align: right;
      margin-top: 0.5rem;
      font-size: 15px;
    }
  }

  .footer__flex--line {
    margin-top: 1rem;
    margin-bottom: -0.5rem;
    width: 10vw;

    @include media("desktopSmall") {
      display: none;
    }
  }
}
