@import "../utils/variables.module.scss";
@import "../utils/mixins/media.module.scss";

.splide__arrows {
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 47.5%;
}

.splide__arrow {
  fill: $white;
  padding: 1rem;
  margin: -1rem;
  opacity: 0.9;
  position: absolute;
}

@include media("desktopSmall") {
  .splide__arrow {
    padding: 0;
    margin: 0;
  }
}

.splide__arrow:hover {
  fill: $green;
  cursor: pointer;
}

.splide__arrow:disabled {
  fill: $white;
}

.splide__arrow--prev {
  transform: scaleX(-1);
  left: 2.5rem;
}

.splide__arrow--next {
  right: 2.5rem;
}
