@import "../utils/variables.module.scss";
@import "../utils/mixins/media.module.scss";

/* hero section */
.hero-section {
  .splide {
    margin: 0 -1.5rem;

    @include media("tabletLarge") {
      margin: 0 -3rem;
    }

    @include media("desktop") {
      margin: 0;
    }
  }

  .splide__slide {
    height: 275px;

    @include media("phone") {
      height: 350px;
    }
    @include media("tablet") {
      height: 450px;
    }
    @include media("tabletLarge") {
      height: 525px;
    }
    @include media("desktopSmall") {
      height: 600px;
    }
    @include media("desktop") {
      height: 650px;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
    padding: 7rem 1.5rem;
    background: $blue;
    margin: -0.75rem -1.5rem 0 -1.5rem;

    @include media("tabletLarge") {
      padding: 6rem 3rem;
      margin: -0.75rem -3rem 0 -3rem;
    }

    @include media("desktop") {
      padding: 7rem 3rem;
      margin: -0.75rem 0 0 0;
    }

    h2:first-of-type {
      font-weight: $thin;
    }
  }
}

/* about section */

.about-section {
  display: grid;
  gap: 4rem 0;
  margin: 4rem 0;
  img {
    height: 275px;
    width: 100%;
    object-fit: cover;

    @include media("tablet") {
      height: 450px;
    }
    @include media("desktopSmall") {
      height: 425px;
    }
    @include media("desktop") {
      height: 350px;
    }
  }
  @include media("desktopSmall") {
    margin: 4rem 0;
  }

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @include media("tablet") {
    gap: 3rem;
    h2 {
      text-align: left;
    }
  }

  @include media("desktopSmall") {
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    article {
      order: 1;
    }

    img:last-child {
      display: none;
    }
  }
}

/* testimonials section */

.testimonials-section {
  padding: 4rem 3rem;
  background-color: $blue;
  margin-bottom: 3rem;

  @include media("desktopSmall") {
    padding: 6rem 0;
  }

  h2,
  blockquote,
  cite {
    color: $white;
  }

  cite {
    font-weight: $light;
  }

  h2 {
    margin-bottom: 3rem;
    text-align: center;
    @include media("tablet") {
      text-align: left;
    }
    @include media("desktopSmall") {
      padding: 0 3rem;
    }
  }
  article {
    @include media("desktopSmall") {
      padding: 0 8rem;
    }

    blockquote {
      line-height: 1.75rem;
      margin-bottom: 1rem;

      span {
        font-size: $heading;
        color: $white;
        font-family: "Times New Roman", Times, serif;
        translate: 30px;
      }
    }
  }
  .splide__arrows {
    top: 30%;
  }
}

/* gallery section */

.gallery-section {
  h2 {
    text-align: center;
    margin-bottom: 3rem;

    @include media("tablet") {
      text-align: left;
    }

    @include media("desktop") {
      margin-bottom: 4rem;
    }
  }

  .splide {
    margin: 0 -1.5rem;

    @include media("tabletLarge") {
      margin: 0 -3rem;
    }

    @include media("desktop") {
      margin: 0;
    }
  }

  .splide__slide {
    height: 275px;

    @include media("phone") {
      height: 350px;
    }
    @include media("tablet") {
      height: 450px;
    }
    @include media("tabletLarge") {
      height: 525px;
    }
    @include media("desktopSmall") {
      height: 600px;
    }
    @include media("desktop") {
      height: 650px;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
