@font-face {
  font-family: Raleway;
  src: url("../../../_fonts/Raleway/Raleway-VariableFont_wght.woff2")
      format("woff2 supports variations"),
    url("../../../_fonts/Raleway/Raleway-VariableFont_wght.woff2")
      format("woff2-variations");
  font-weight: 100 700;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url("../../../_fonts/Raleway/Raleway-Italic-VariableFont_wght.woff2")
      format("woff2 supports variations"),
    url("../../../_fonts/Raleway/Raleway-Italic-VariableFont_wght.woff2")
      format("woff2-variations");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url("../../../_fonts/Raleway/Raleway-VariableFont_wght.woff")
      format("woff supports variations"),
    url("../../../_fonts/Raleway/Raleway-VariableFont_wght.woff")
      format("woff-variations");
  font-weight: 100 700;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url("../../../_fonts/Raleway/Raleway-Italic-VariableFont_wght.woff")
      format("woff supports variations"),
    url("../../../_fonts/Raleway/Raleway-Italic-VariableFont_wght.woff")
      format("woff-variations");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url("../../../_fonts/Raleway/Raleway-VariableFont_wght.ttf")
      format("truetype supports variations"),
    url("../../../_fonts/Raleway/Raleway-VariableFont_wght.ttf")
      format("truetype-variations");
  font-weight: 100 700;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url("../../../_fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf")
      format("truetype supports variations"),
    url("../../../_fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf")
      format("truetype-variations");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}
