@import "../utils/variables.module.scss";
@import "../utils/mixins/media.module.scss";

.white-text {
  color: $white;
}
.hidden {
  display: none;
}

.block {
  display: block;
}

.grid {
  display: grid;
}

.nav-point {
  transform: translateY(-175px);
}

.page-heading {
  font-size: $heading;
  margin: 3rem 0;
  text-align: center;

  @include media("tablet") {
    text-align: left;
  }
}

.underline {
  text-decoration: underline;
  text-decoration-color: $green;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.image-transition {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.blur {
  filter: blur(24px);
}

.no-blur {
  filter: blur(0);
}

.admin-button {
  padding: 0.5rem 1rem;
  font-size: $paragraph;
  background-color: $green;
  color: $white;
  box-shadow: 0 2px 2px rgb(0 0 0 / 0.15);

  @include media("tabletLarge") {
    &:hover {
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
      background-color: $lightGreen;
      cursor: pointer;
    }
  }
}
