/* colors */
$green: #5c873c;
$lightGreen: #94c36a;
$blue: #134266;
$lightBlue: rgba(19 66 102 / 75%);
$white: #ffffff;
$black: #222222;
$link: #0000ee;

/* font size */
$smallest: 0.938rem;
$smaller: 1.063rem;
$paragraph: 1.125rem;
$larger: 1.25rem;
$subheading: 1.5rem;
$heading: 2.25rem;

/* font weight */
$thin: 200;
$light: 300;

/* screen sizes */
$phone: 425px;
$tablet: 650px;
$tabletLarge: 900px;
$desktopSmall: 1100px;
$desktop: 1400px;
