@use "../utils/variables.module.scss";
@use "../utils/mixins/media.module.scss";

/* contact info */

.contact-section {
  &__grid {
    @include media.media("tabletLarge") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  &__image {
    width: 100%;
    height: 300px;
    margin-top: 4rem;
    object-fit: cover;

    @include media.media("tabletLarge") {
      height: 100%;
      margin-top: 0;
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__item {
      display: grid;
      grid-template-columns: 75px 1fr;
      font-weight: variables.$light;
      margin-right: auto;
    }

    &__show {
      font-size: 1.125rem;
      font-weight: 200;
      line-height: 1.5rem;
    }

    &__show,
    &__link {
      padding: 0.5rem;
      margin: -0.5rem;
      font-weight: variables.$thin;
      @include media.media("tabletLarge") {
        cursor: pointer;
      }

      @include media.media("tabletLarge") {
        padding: 0;
        margin: 0;
      }
    }

    @include media.media("tabletLarge") {
      &__link:hover,
      &__show:hover {
        text-decoration: underline;
        text-decoration-color: variables.$green;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
      }
    }
  }
}

/* form */

.contact-form-container {
  margin-top: 2rem;
  background: variables.$blue;
  padding: 2rem 1.5rem;

  @include media.media("desktopSmall") {
    margin-top: 3rem;
    padding: 2.75rem 1.5rem;
  }

  input:disabled {
    background: rgba(255, 255, 255, 0.85);
    cursor: not-allowed;
  }

  &__paragraph {
    color: variables.$white;
    line-height: 1.6rem;

    span {
      color: variables.$white;
      font-weight: 400;
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-thickness: 1px;
    }

    @include media.media("desktopSmall") {
      margin-bottom: 2rem;
    }

    &--submitted {
      color: variables.$white;
      font-size: variables.$subheading;
    }

    &__button {
      background-color: variables.$white;
      margin-top: 2rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;

    .contact-form-container__form__group {
      display: inherit;
      flex-direction: inherit;
      gap: 0.75rem;

      label {
        font-size: 1.25rem;
        color: variables.$white;
      }

      input,
      textarea,
      select {
        padding: 0.5rem;
      }
    }
  }

  &__next-button {
    margin-bottom: 2rem;
  }
}
