@use "../utils/variables.module.scss";
@use "../utils/mixins/media.module.scss";

/* hero section */
.hero-section {
  &__slider-container {
    height: 60vh;
    width: 100%;

    @include media.media("tablet") {
      height: 450px;
    }

    @include media.media("tabletLarge") {
      height: 525px;
    }

    @include media.media("desktopSmall") {
      height: 600px;
    }

    @include media.media("desktop") {
      height: 650px;
    }
  }

  .splide {
    margin: 0 -1.5rem;

    @include media.media("tabletLarge") {
      margin: 0 -3rem;
    }

    @include media.media("desktop") {
      margin: 0;
    }
  }

  .splide__slide {
    height: 60vh;
    width: 100%;

    @include media.media("tablet") {
      height: 450px;
    }

    @include media.media("tabletLarge") {
      height: 525px;
    }

    @include media.media("desktopSmall") {
      height: 600px;
    }

    @include media.media("desktop") {
      height: 650px;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__hero-text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
    padding: 7rem 1.5rem;
    background: variables.$blue;
    margin: -0.75rem -1.5rem 0;

    @include media.media("tabletLarge") {
      padding: 6rem 3rem;
      margin: -0.75rem -3rem 0;
    }

    @include media.media("desktop") {
      padding: 7rem 3rem;
      margin: -0.75rem 0 0;
    }

    h2:first-of-type {
      font-weight: variables.$thin;
    }
  }
}

/* about section */

.about-section {
  display: grid;
  gap: 4rem 0;
  margin: 4rem 0;

  @include media.media("tablet") {
    gap: 3rem;
  }

  @include media.media("desktopSmall") {
    margin: 4rem 0;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    article {
      order: 1;
    }
  }

  &__image {
    height: 275px;
    width: 100%;
    object-fit: cover;

    @include media.media("tablet") {
      height: 450px;
    }

    @include media.media("desktopSmall") {
      height: 100%;
      &:last-child {
        display: none;
      }
    }
  }

  &__heading {
    margin-bottom: 2rem;
    text-align: center;

    & {
      text-align: left;
    }
  }

  &__container {
    display: grid;
    &__paragraphs {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2rem;
    }
    &__button {
      width: 100%;
      margin: auto 0;
    }
  }
}

/* testimonials section */

.testimonials-section {
  padding: 4rem 3rem;
  background-color: variables.$blue;
  margin-bottom: 3rem;

  @include media.media("desktopSmall") {
    padding: 6rem 0;
  }

  &__heading,
  &__quote,
  &__name {
    color: variables.$white;
  }

  &__name {
    font-weight: variables.$light;
  }

  &__heading {
    margin-bottom: 3rem;
    text-align: center;
    font-size: variables.$subheading;

    @include media.media("tablet") {
      text-align: left;
      font-size: variables.$heading;
    }

    @include media.media("desktopSmall") {
      padding: 0 3rem;
    }
  }

  &__container {
    @include media.media("desktopSmall") {
      padding: 0 8rem;
    }
  }

  &__quote {
    line-height: 1.75rem;
    margin-bottom: 1rem;
  }

  &__quotation-marks {
    font-size: variables.$heading;
    color: variables.$white;
    font-family: "Times New Roman", Times, serif;
  }

  .splide__arrows {
    top: 30%;
  }
}

/* gallery section */

.gallery-section {
  &__heading {
    text-align: center;
    margin-bottom: 3rem;

    @include media.media("tablet") {
      text-align: left;
    }

    @include media.media("desktop") {
      margin-bottom: 4rem;
    }
  }

  &__slider-container {
    @include media.media("phone") {
      height: 350px;
    }

    @include media.media("tablet") {
      height: 450px;
    }

    @include media.media("tabletLarge") {
      height: 525px;
    }

    @include media.media("desktopSmall") {
      height: 600px;
    }

    @include media.media("desktop") {
      height: 650px;
    }
  }

  .splide {
    margin: 0 -1.5rem;

    @include media.media("tabletLarge") {
      margin: 0 -3rem;
    }

    @include media.media("desktop") {
      margin: 0;
    }
  }

  .splide__slide {
    height: 275px;

    @include media.media("phone") {
      height: 350px;
    }

    @include media.media("tablet") {
      height: 450px;
    }

    @include media.media("tabletLarge") {
      height: 525px;
    }

    @include media.media("desktopSmall") {
      height: 600px;
    }

    @include media.media("desktop") {
      height: 650px;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
