@use "mixins/media.module";
@use "variables.module";

.white-text {
  color: variables.$white;
}

.nav-point {
  transform: translateY(-175px);
}

.page-heading {
  font-size: variables.$heading;
  margin: 3rem 0;
  text-align: center;

  @include media.media("tablet") {
    text-align: left;
  }
}

.image-transition {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.blur {
  filter: blur(24px);
}

.no-blur {
  filter: blur(0);
}

.admin-button {
  padding: 0.75rem 1rem;
  font-size: variables.$paragraph;
  background-color: variables.$green;
  color: variables.$white;
  box-shadow: 0 2px 2px rgb(0 0 0 / 15%);

  @include media.media("tabletLarge") {
    &:hover {
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
      background-color: variables.$lightGreen;
      cursor: pointer;
    }
  }
}

.font-medium {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.link {
  color: #0000ee;
}

.link:hover {
  opacity: 80%;
}

.cursor-pointer {
  cursor: pointer;
}

.spinner {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0.5rem auto;
}

.spinner::before,
.spinner::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-top-color: #333; /* Change the color here */
  animation: spin 1s linear infinite;
}

.spinner::after {
  animation-delay: 0.5s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.recaptcha {
  transform: scale(0.9);
  transform-origin: 0 0;
}
